// Colors
$black: #001800;
$darkgray: #292c29;
$mint: #cfe7cf;
$white: #ffffff;
$lightred: #e7cfcf;
$darkred: #dc3545;
$gray: #9c9c9c;

// Borders
$border-radius: 4px;
$border: 2px solid $black;
$lightborder: 1px solid rgba(0,0,0,0.12);

$topbar: 64px;
$guest-sidebar-width: 30rem;
