@import 'src/app/styles/variables';

.side-nav {
  box-shadow: 0 3px 9px 3px rgba(0,0,0,.3);
  border-right: none;
  overflow: hidden;
}

.list-item {
  &:hover.selected .side-nav-item,
  &.selected .side-nav-item {
    color: black;
    background-color: $mint;
  }

  &:hover .side-nav-item {
    color: $white;
    background-color: rgb(70, 70, 70);
  }
}

.side-nav-item {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  color: $white;
}

.side-nav-item-text {
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
}
